*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.card {
    position: relative;
    place-items: center;
    margin: 50px;
    width: 420px;
    height: 250px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 80px;
    font-size: 50px;
    text-align: center;
    background: #f3f3f3;
    color: #000000;
    text-shadow: 0 0 6px #ff4800, 0 0 6px #c08d00;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 0 5px 10px #ffffff;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #0077ff;
    padding: 80px;
    color: #f3f3f3;
    text-shadow: 0 0 6px #ff4800, 0 0 6px #c08d00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 10px #000;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.main {
    width: max-content;
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5vw;
    background: url("../images/BD\ Flag.png")
    center/cover no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #32526e;
    filter: drop-shadow(10px, 10px, 10px, #000);
    border: 1vw solid #9eaab8;
    border-radius: 2vw;
    padding: 3vw;
    margin-top: 40%;
    position: absolute;
    overflow: hidden;
    animation: bd 6s infinite linear;
    &::before{
        content: "";
        position: absolute;
        width: calc(100% - 2vw);
        height: calc(100% - 2vw);
        background: url("../images/Abstract.png");
        z-index: -10;
        top: 0.7vw;
        left: 0.7vw;
        border: 0.3vw solid #b3becc;
        border-radius: 0.7vw;
    }
    &::after{
        content: "";
        position: absolute;
        width: 200%;
        height: 50%;
        background: linear-gradient(to top right, rgb(128, 134, 139) 9.7%, rgb(188, 216, 224) 45.5%);
        z-index: -20;
        top: 50%;
        left: 50%;
        animation: after 5s infinite linear;
    }
}

@keyframes bd{
    0%{
        font-size: 6vh;
    }
    50%{
        font-size: 12vh;
    }
    100%{
        font-size: 6vh;
    }
}

@keyframes after {
    0% { transform: translate(-50%, -50%) rotate(0);}
    100% {transform: translate(-50%, -50%) rotate(-360deg);}
}